@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
#wrap {
  width: 100%;
  height: 900px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 120px;
  background: #ffffff;
}

.logo {
  display: flex;
  float: left;
  margin-left: 7%;
  /* padding-top: 1%; */
  /* background: #ffffff; */
  position: absolute;
  margin-top: -15px;
}

.top-menu {
  background-color: rgb(70, 70, 170);
  width: 100%;
  height: 25%;
}
.top-menu ul li {
  list-style: none;
  float: right;
  width: 100px;
  text-align: center;
  padding-top: 2px;
  display: block;
  overflow: hidden;
}
.top-menu a {
  float: none;
  display: block;
  text-decoration: none;
  color: white;
}
.menu_area {
  padding-left: 5%;
}
.menu {
  margin-top: 1%;
  padding-top: 1%;
  margin-left: 20%;
  width: 80%;
  height: 120px;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.menu ul li {
  list-style: none;
  float: left;
  width: 20%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.title1,
.title2,
.title3 {
  border-right: 1px solid;
  border-color: gray;
}

/* .dropdown-sub{list-style: none; float: left; width: 25%; height: 100%; line-height: 50px; text-align: center; background: rgb(179, 179, 179);} */
.menu li a {
  float: none;
  display: block;
  text-decoration: none;
  color: black;
}

/* .dropdown-sub li {
  color: black;
} */

.menu_title:hover .dropdown-sub li {
  height: 50px;
  /* display: block; */
  visibility: visible;
  /* padding-top: 1%;
  padding-bottom: 1%; */
  transition: 100ms;
}

.dropdown-sub {
  /* display: none; */
  visibility: hidden;
  float: none;
  text-decoration: none;
  position: absolute;
  /* align-content: center; */
  width: 80%;
  height: 0px;
  font-size: smaller;
  z-index: 10;
  transition: 100ms;
}

.dropdown-sub li {
  border-right: 1px solid;
  border-color: gray;
}
#ds1 li {
  border-right: none;
}

.title1 ul li,
.title2 ul li,
.title3 ul li,
.title4 ul li {
  float: none;
}

.dropdown-sub a:hover {
  background: #7374b6;
  color: #fff;
}

.top_image {
  left: 20%;
  width: 100%;
  height: 20em;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.top_image img {
  margin-top: 1%;
  width: 100%;
  height: 20em;
}

/* 화살표 색상 변경*/
.slick-prev:before,
.slick-next:before {
  color: rgb(231, 231, 231) !important;
  opacity: 1;
}
/* 화살표 위치 변경 */
.slick-prev {
  left: 3% !important ;
  z-index: 9;
}
.slick-next {
  right: 3% !important ;
  z-index: 9;
}

/* 버튼 위치 변경 */
.slick-dots {
  bottom: 0 !important;
}
/* 버튼 색상 변경 (마우스 오버)  */
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  color: rgb(156, 156, 156);
}

/* 버튼 색상 변경 (활성화)  */
.slick-dots li.slick-active button:before {
  color: rgb(172, 172, 172) !important;
}

.middle_area {
  float: left;
  height: 1000px;
  width: 85%;
  margin-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  /* margin-bottom: 1%; */
  align-items: center;
}
.sidemenu_area {
  float: left;
  margin-right: 4%;
  /* width: 20%; */
}
.sidemenu {
  width: 100%;
  height: 50%;
}

.sidemenu_button_unchecked:hover {
  background: #7374b6;
  color: #fff;
}

.sidemenu_button_checked {
  background: #7374b6;
  color: #fff;
}

.sidemenu_sub ul li {
  list-style: none;
}
.sidemenu_sub button {
  width: 100%;
  border: 0px;
  height: 3em;
  font-size: 20px;
  border-bottom: 1px solid gray;
}
.sidemenu_title {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  border-bottom: 4px solid;
  margin-bottom: 1%;
}

.call_area {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 50%;
  border: 1px solid gray;
  border-radius: 15px;
  margin-top: 5%;
}
.call_area_button {
  width: 100%;
  height: 30%;
  margin-top: 2%;

  /* float: left; */
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.call_area_button button {
  width: 80%;
  height: 80%;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(125, 125, 255);
  border-radius: 15px;
  color: white;
  font-size: 20px;
}

.call_area_button button:hover {
  width: 80%;
  height: 80%;
  background-color: rgb(94, 94, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  color: white;
  font-size: 20px;
}

.call_area_title {
  padding: 20px;
  padding-top: 15px;
  font-size: 20px;
  padding-bottom: 0;
}

.call_area_text {
  padding: 20px;
  font-size: 25px;
  color: rgb(94, 94, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.call_area_text2 {
  padding: 20px;
  padding-top: 0;
  font-size: 15px;
}

.content_area {
  width: 65%;
  float: left;
}
.map_area {
  /* position: absolute; */
  width: 60% !important;
  height: 400px;
  /* height: 100px; */
  margin-top: 3%;
  padding-left: 10%;
  margin-right: 5%;
  /* margin-bottom: 3%; */
}

.map_content {
  align-self: center;
}

.map_address {
  /* border-top: 1px solid black; */
  padding-top: 2%;
  padding-left: 10%;
  font-size: 20px;
}

.content_top_nav a {
  text-decoration: none;
}

.content_detail {
  width: 100%;
}
.content_detail_title {
  font-size: 30px;
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: 2%;
}

/* .content_detail_list {
  list-style: none;
  margin-top: 4%;
  padding-left: 2%;
  padding-right: 3%;
} */

.detail_bottom {
  width: 95%;
  text-align: right;
  /* padding-right: 15%; */
}

.analysis_area {
  float: left;
  background-color: whitesmoke;
  width: 40%;
  height: 100%;
  text-align: center;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border: 1px solid;
  border-radius: 15px;
}
.notice_area {
  float: left;
  background-color: rgb(255, 255, 255);
  width: 25%;
  height: 100%;
  border: 1px solid;
  border-radius: 15px;
}
.notice_title_area {
  float: left;
  margin-top: 4%;
  margin-left: 4%;
  padding-bottom: 4%;
  /* padding-left: 15%; 
  padding-right: 15%;  */
  width: 100%;
  height: 10%;
}
.notice_title {
  position: relative;
  /* font-size: 18px; */
  line-height: 20px;
  font-weight: 700;
  color: #000;
  /* letter-spacing: -.025em;
  margin: 0 0 1.1em; */
}
.notice_more_link {
  text-decoration: none;
  position: absolute;
  right: 1em;
  top: 0;
  width: 20px;
  height: 20px;
}

.notice_content_area {
  /* position: absolute; */
  width: 100%;
  height: 90%;
  /* background-color: #7374b6; */
  margin-top: 15%;
  border-top: 1px solid black;
}

.analysis_area li {
  background-color: rgb(255, 255, 255);
  float: none;
  display: block;
  font-size: 100%;
}

.analysis_area img {
  width: 12%;
  align-items: center;
  vertical-align: middle;
  height: 75%;
}

.analysis_area button {
  font-size: 25px;
  background-color: white;
  border: 0px;
  height: 100%;
  width: 100%;
  border: 2px solid;
  border-radius: 15px;
}

.analysis_area button:hover {
  font-size: 30px;
  background-color: rgb(255, 255, 234);
  border: 2px solid;
  border-radius: 15px;
}

/* .analysis_area_btn a {
  width: 100%;
} */

/* .analysis_area a {
  float: left;
  display: block;
  text-decoration: none;
  line-height: 6em;
} */

.analysis_area_btn {
  height: 6em;
  /* width: 100%; */
  line-height: 6em;
  vertical-align: middle;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
}

footer {
  justify-content: center;
  display: flex;
  clear: both;
  width: 100%;
  height: 120px;
  background: rgb(255, 255, 255);
  padding-left: 5%;
  border-top: 1px solid black;
}
footer div {
  float: left;
  padding-left: 2%;
  /* align-items: center; */
  align-content: center;
  display: flex;
}
.footer_text {
  /* line-height: 100px; */
  text-align: left;

  font-size: 2;
  width: 60%;
}

@media (max-width: 1400px) {
  .menu {
    width: 70%;
  }
  .dropdown-sub {
    width: 70%;
  }
}

/* 화면 너비 0 ~ 1200px */
@media (max-width: 1200px) {
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px) {
  .middle_area {
    float: none;
  }
  footer {
    float: none;
  }
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px) {
  .header {
    height: 300px;
  }
}
